<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="android.uid.system">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_settings"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- IA 注入入口:聚合到系统 Settings 主页卡片 -->
        <activity-alias
            android:enabled="true"
            android:exported="true"
            android:name=".TopLevelSettingsActivity"
            android:targetActivity=".SettingsActivity">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.category" android:value="com.android.settings.category.ia.homepage" />
            <meta-data android:name="com.android.settings.title" android:resource="@string/app_name" />
            <meta-data android:name="com.android.settings.summary" android:resource="@string/summary_top_level" />
            <meta-data android:name="com.android.settings.icon" android:resource="@drawable/ic_settings" />
            <meta-data android:name="com.android.settings.order" android:value="-190" />
        </activity-alias>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
